.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.bgContainer {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.bg {
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification {
  font-size: 14px;
  font-weight: 500;
  color: var(--textSoft);
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
}

.productList,
.promoList,
.stockList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productItem,
.promoItem,
.stockItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bg);
  border-radius: 5px;
}

.productName,
.promoCode {
  font-weight: 500;
  color: var(--text);
}

.productSales,
.stockCount {
  font-size: 14px;
  color: var(--textSoft);
}

.promoDesc {
  font-size: 13px;
  color: var(--textSoft);
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}

.button:hover {
  background-color: #2e374a;
}
